@charset "utf-8";
/*网页的全局样式 解决兼容问题*/

html,body,div,p,table,tr,th,td,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,form,input,select,textarea,span,b,strong,i,em,u,img,a,*{margin: 0; padding: 0;}
html{font-family:"微软雅黑","Helvertical" ; font-size-adjust:100% ;height:100%;}
body{ font-size: 1.4rem; color:#333; height:100%;}
article,section,main,head,nav,aside,footer,figure,figcaption,hgroup,address,dialog,details,summary{ display: block;}
time,mark,ruby,rp,rt,cite,output{ display:inline;}
audio,video,canvas,datalist{ display:inline-block;}
a{ text-decoration: none; color:#444;}
a:hover{ color:#555;}
ul,ol,li{ list-style: none;}
table{ border-spacing: 0; border-collapse: collapse;}
img{ border:none; vertical-align:middle;}
input,select,textarea{ vertical-align:middle;}
h1,h2,h3,h4,h5,h6{ font-size: 1.4rem;}
.clear{ clear:both; height:0px; width:0px; overflow:hidden;}
body,html,.wrap{ width:100%; height:100%;}



.wrap{

}